body {
  background-color: lightgrey;
}

#Board {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(8, 100px);
}

#Board * {
  width: 100px;
  height: 100px;
}

.normal {
  border: solid red 1px;
}

.extra {
  background-color: green;
}

.active {
  border: solid green 3px;
}